@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto+Condensed&display=swap');

*{
    --accent: #2f31d3;
    --glow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

body{
    font-family: 'Nova Square', sans-serif;
    background: #ececec;
    scroll-behavior: smooth;
}


.banner, nav, footer {
    background-color: var(--accent);
    color: white;   
}
.navbar-collapse{
    transition: all 0.3s ease-in-out;
}

/* Input Product */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.productForm{
    max-width: 25rem;
    border: 1px solid var(--accent) !important;
    justify-content: space-evenly;
    color: var(--accent);
}

.productForm .row label{
    text-align: start;
    padding: 0;
    margin-top: 1rem;
}
.productForm .row input{
    border: none;
    border: 1px solid var(--accent);
    border-radius: 10px;
    height: 2.5rem;
}

.Btn{
    border: none;
    border-radius: 10px;
    height: 3rem;
    color: white;
    font-weight: bold;

}

#submitBtn{
    background-color: var(--accent);
}

#clearBtn{
    background-color: red;
}

#submitBtn:hover{
    background-color: rgba(80, 82, 233, 0.788)
}
#clearBtn:hover{
    background-color: rgba(255, 49, 49, 0.788);
}
