@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto+Condensed&display=swap');

*{
    --accent: #2f31d3;
    --glow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}

body{
    font-family: 'Nova Square', sans-serif;


    background: #ececec;
    scroll-behavior: smooth;
}


.banner, nav, footer {
    background-color: var(--accent);
    color: white;   
}
.navbar-collapse{
    transition: all 0.3s ease-in-out;
}
/*------------ Login container ------------*/
.box-area{
    width: 930px;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}